Repository ngxs/store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, lint --fix

chore: tweak test name
  packages/store/types/tests/selection.lint.ts
Due: prettier --write, lint --fix

fix(store): remove the recent `@Select` type safety check due to issues with private/protected properties (#1623)
  CHANGELOG.md
  packages/store/src/decorators/select/select.ts
  packages/store/src/decorators/select/symbols.ts
  packages/store/types/tests/selection.lint.ts
  packages/store/types/tests/state-token.lint.ts
Due: prettier --write, lint --fix

docs: add a side note about strict mode
  docs/concepts/select.md
Due: prettier --write

chore(deps): update all dependencies
  package.json
  packages/devtools-plugin/package.json
  packages/form-plugin/package.json
  packages/hmr-plugin/package.json
  packages/logger-plugin/package.json
  packages/router-plugin/package.json
  packages/storage-plugin/package.json
  packages/store/package.json
  packages/websocket-plugin/package.json
  yarn.lock
Due: prettier --write

chore: added extra note
  docs/concepts/select.md
Due: prettier --write

docs: add a side note about strict mode (#1635)
  docs/concepts/select.md
Due: prettier --write

chore(deps): update dependency typescript to ^3.9.6
  package.json
  yarn.lock
Due: prettier --write

ci: set default reviewers
  .github/CODEOWNERS
Due: none

ci: set default reviewers (#1639)
  .github/CODEOWNERS
Due: none

fix: compat with ViewEngine
  tsconfig.build.json
Due: prettier --write

chore: remove redundant test, since will not allow to freeze the component class starting from Angular 10
  packages/store/tests/select.spec.ts
Due: prettier --write, lint --fix

build: use tsconfig.base.json for building packages
  build/angular-7/package.json
  build/angular-8/package.json
Due: prettier --write

chore(ng-10-ivy): ng new
  integrations/hello-world-ng10-ivy/.browserslistrc
  integrations/hello-world-ng10-ivy/.editorconfig
  integrations/hello-world-ng10-ivy/.gitignore
  integrations/hello-world-ng10-ivy/README.md
  integrations/hello-world-ng10-ivy/angular.json
  integrations/hello-world-ng10-ivy/e2e/protractor.conf.js
  integrations/hello-world-ng10-ivy/e2e/src/app.e2e-spec.ts
  integrations/hello-world-ng10-ivy/e2e/src/app.po.ts
  integrations/hello-world-ng10-ivy/e2e/tsconfig.json
  integrations/hello-world-ng10-ivy/karma.conf.js
  integrations/hello-world-ng10-ivy/package.json
  integrations/hello-world-ng10-ivy/src/app/app-routing.module.ts
  integrations/hello-world-ng10-ivy/src/app/app.component.html
  integrations/hello-world-ng10-ivy/src/app/app.component.scss
  integrations/hello-world-ng10-ivy/src/app/app.component.spec.ts
  integrations/hello-world-ng10-ivy/src/app/app.component.ts
  integrations/hello-world-ng10-ivy/src/app/app.module.ts
  integrations/hello-world-ng10-ivy/src/assets/.gitkeep
  integrations/hello-world-ng10-ivy/src/environments/environment.prod.ts
  integrations/hello-world-ng10-ivy/src/environments/environment.ts
  integrations/hello-world-ng10-ivy/src/favicon.ico
  integrations/hello-world-ng10-ivy/src/index.html
  integrations/hello-world-ng10-ivy/src/main.ts
  integrations/hello-world-ng10-ivy/src/polyfills.ts
  integrations/hello-world-ng10-ivy/src/styles.scss
  integrations/hello-world-ng10-ivy/src/test.ts
  integrations/hello-world-ng10-ivy/tsconfig.app.json
  integrations/hello-world-ng10-ivy/tsconfig.base.json
  integrations/hello-world-ng10-ivy/tsconfig.json
  integrations/hello-world-ng10-ivy/tsconfig.spec.json
  integrations/hello-world-ng10-ivy/tslint.json
  integrations/hello-world-ng10-ivy/yarn.lock
Due: prettier --write, lint --fix

chore: fix script integration:ng10ivy
  package.json
Due: prettier --write

chore: install scripts
  integrations/hello-world-ng10-ivy/angular.json
  integrations/hello-world-ng10-ivy/package.json
Due: prettier --write

chore: yarn.lock
  integrations/hello-world-ng10-ivy/yarn.lock
Due: none

chore: make sure ivy is enabled
  integrations/hello-world-ng10-ivy/tsconfig.base.json
Due: prettier --write

chore: ng-10-ivy app
  integrations/hello-world-ng10-ivy/src/app/app-routing.module.ts
  integrations/hello-world-ng10-ivy/src/app/app.component.html
  integrations/hello-world-ng10-ivy/src/app/app.component.spec.ts
  integrations/hello-world-ng10-ivy/src/app/app.component.ts
  integrations/hello-world-ng10-ivy/src/app/app.module.ts
  integrations/hello-world-ng10-ivy/src/app/store/counter/counter.actions.ts
  integrations/hello-world-ng10-ivy/src/app/store/counter/counter.state.ts
  integrations/hello-world-ng10-ivy/src/app/store/index.ts
  integrations/hello-world-ng10-ivy/src/app/store/store.module.ts
Due: prettier --write, lint --fix

test: include e2e test
  integrations/hello-world-ng10-ivy/.gitignore
  integrations/hello-world-ng10-ivy/angular.json
  integrations/hello-world-ng10-ivy/cypress.json
  integrations/hello-world-ng10-ivy/cypress/fixtures/example.json
  integrations/hello-world-ng10-ivy/cypress/integration/index-page.spec.ts
  integrations/hello-world-ng10-ivy/cypress/plugins/cypress-webpack.config.js
  integrations/hello-world-ng10-ivy/cypress/plugins/index.js
  integrations/hello-world-ng10-ivy/cypress/support/base.po.ts
  integrations/hello-world-ng10-ivy/cypress/support/index.po.ts
  integrations/hello-world-ng10-ivy/cypress/tsconfig.json
  integrations/hello-world-ng10-ivy/e2e/protractor.conf.js
  integrations/hello-world-ng10-ivy/e2e/src/app.e2e-spec.ts
  integrations/hello-world-ng10-ivy/e2e/src/app.po.ts
  integrations/hello-world-ng10-ivy/e2e/tsconfig.json
  integrations/hello-world-ng10-ivy/package.json
  integrations/hello-world-ng10-ivy/src/app/app.component.html
  integrations/hello-world-ng10-ivy/yarn.lock
Due: prettier --write, lint --fix

docs: update doc
  integrations/hello-world-ng10-ivy/README.md
Due: prettier --write

test: migrate to jest
  integrations/hello-world-ng10-ivy/angular.json
  integrations/hello-world-ng10-ivy/jest.config.js
  integrations/hello-world-ng10-ivy/karma.conf.js
  integrations/hello-world-ng10-ivy/package.json
  integrations/hello-world-ng10-ivy/src/app/app.component.spec.ts
  integrations/hello-world-ng10-ivy/src/app/app.component.ts
  integrations/hello-world-ng10-ivy/src/app/ivy.spec.ts
  integrations/hello-world-ng10-ivy/src/test.ts
  integrations/hello-world-ng10-ivy/tsconfig.base.json
  integrations/hello-world-ng10-ivy/tsconfig.json
  integrations/hello-world-ng10-ivy/tsconfig.spec.json
  integrations/hello-world-ng10-ivy/yarn.lock
  package.json
Due: prettier --write, lint --fix

chore(deps): ng-10-ivy integration
  integrations/hello-world-ng10-ivy/package.json
  integrations/hello-world-ng10-ivy/tsconfig.json
  integrations/hello-world-ng10-ivy/tslint.json
  integrations/hello-world-ng10-ivy/yarn.lock
Due: prettier --write

test: delete
  integrations/hello-world-ng10-ivy/src/app/app.component.spec.ts
Due: prettier --write, lint --fix

chore: deleted per artur
  integrations/hello-world-ng10-ivy/.editorconfig
  integrations/hello-world-ng10-ivy/.gitignore
  integrations/hello-world-ng10-ivy/README.md
Due: prettier --write

chore: ignore yarn-error.log
  .gitignore
Due: none

ci: run ng10 integration test
  .circleci/config.yml
Due: prettier --write

test: add test
  integrations/hello-world-ng10-ivy/jest.config.js
  integrations/hello-world-ng10-ivy/jest.setup.ts
  integrations/hello-world-ng10-ivy/src/app/app.component.spec.ts
Due: prettier --write, lint --fix

ci: run tests on ci
  .circleci/config.yml
  .travis.yml
Due: prettier --write

chore(deps): update dependency typescript to ^3.9.7
  package.json
  yarn.lock
Due: prettier --write

chore: bump angular version in peerDependencies
  packages/devtools-plugin/package.json
  packages/form-plugin/package.json
  packages/hmr-plugin/package.json
  packages/logger-plugin/package.json
  packages/router-plugin/package.json
  packages/storage-plugin/package.json
  packages/store/package.json
  packages/websocket-plugin/package.json
Due: prettier --write

chore: bump angular version in peerDependencies (#1645)
  packages/devtools-plugin/package.json
  packages/form-plugin/package.json
  packages/hmr-plugin/package.json
  packages/logger-plugin/package.json
  packages/router-plugin/package.json
  packages/storage-plugin/package.json
  packages/store/package.json
  packages/websocket-plugin/package.json
Due: prettier --write

test: remove jest-preset-angular
  integrations/hello-world-ng10-ivy/jest.setup.ts
Due: prettier --write, lint --fix

test: set config emitDecoratorMetadata=true
  integrations/hello-world-ng10-ivy/tsconfig.base.json
Due: prettier --write

test(integrations): add ng 10 ivy off
  .circleci/config.yml
  .gitignore
  .travis.yml
  integrations/hello-world-ng10-ivy-off/.browserslistrc
  integrations/hello-world-ng10-ivy-off/angular.json
  integrations/hello-world-ng10-ivy-off/cypress.json
  integrations/hello-world-ng10-ivy-off/cypress/fixtures/example.json
  integrations/hello-world-ng10-ivy-off/cypress/integration/index-page.spec.ts
  integrations/hello-world-ng10-ivy-off/cypress/plugins/cypress-webpack.config.js
  integrations/hello-world-ng10-ivy-off/cypress/plugins/index.js
  integrations/hello-world-ng10-ivy-off/cypress/support/base.po.ts
  integrations/hello-world-ng10-ivy-off/cypress/support/index.po.ts
  integrations/hello-world-ng10-ivy-off/cypress/tsconfig.json
  integrations/hello-world-ng10-ivy-off/jest.config.js
  integrations/hello-world-ng10-ivy-off/jest.setup.ts
  integrations/hello-world-ng10-ivy-off/package.json
  integrations/hello-world-ng10-ivy-off/src/app/app.component.html
  integrations/hello-world-ng10-ivy-off/src/app/app.component.scss
  integrations/hello-world-ng10-ivy-off/src/app/app.component.spec.ts
  integrations/hello-world-ng10-ivy-off/src/app/app.component.ts
  integrations/hello-world-ng10-ivy-off/src/app/app.module.ts
  integrations/hello-world-ng10-ivy-off/src/app/ivy-off.spec.ts
  integrations/hello-world-ng10-ivy-off/src/app/store/counter/counter.actions.ts
  integrations/hello-world-ng10-ivy-off/src/app/store/counter/counter.state.ts
  integrations/hello-world-ng10-ivy-off/src/app/store/index.ts
  integrations/hello-world-ng10-ivy-off/src/app/store/store.module.ts
  integrations/hello-world-ng10-ivy-off/src/assets/.gitkeep
  integrations/hello-world-ng10-ivy-off/src/environments/environment.prod.ts
  integrations/hello-world-ng10-ivy-off/src/environments/environment.ts
  integrations/hello-world-ng10-ivy-off/src/favicon.ico
  integrations/hello-world-ng10-ivy-off/src/index.html
  integrations/hello-world-ng10-ivy-off/src/main.ts
  integrations/hello-world-ng10-ivy-off/src/polyfills.ts
  integrations/hello-world-ng10-ivy-off/src/styles.scss
  integrations/hello-world-ng10-ivy-off/tsconfig.app.json
  integrations/hello-world-ng10-ivy-off/tsconfig.base.json
  integrations/hello-world-ng10-ivy-off/tsconfig.json
  integrations/hello-world-ng10-ivy-off/tsconfig.spec.json
  integrations/hello-world-ng10-ivy-off/yarn.lock
  package.json
Due: prettier --write, lint --fix

ci: fix step command
  .circleci/config.yml
Due: prettier --write

chore: rename integrations/ivy to integrations/hello-world-ng9-ivy
  integrations/hello-world-ng9-ivy/angular.json
  integrations/hello-world-ng9-ivy/cypress.json
  integrations/hello-world-ng9-ivy/cypress/fixtures/example.json
  integrations/hello-world-ng9-ivy/cypress/integration/index-page.spec.ts
  integrations/hello-world-ng9-ivy/cypress/plugins/cypress-webpack.config.js
  integrations/hello-world-ng9-ivy/cypress/plugins/index.js
  integrations/hello-world-ng9-ivy/cypress/support/base.po.ts
  integrations/hello-world-ng9-ivy/cypress/support/index.po.ts
  integrations/hello-world-ng9-ivy/cypress/tsconfig.json
  integrations/hello-world-ng9-ivy/jest.config.js
  integrations/hello-world-ng9-ivy/package.json
  integrations/hello-world-ng9-ivy/src/app/app.component.html
  integrations/hello-world-ng9-ivy/src/app/app.component.spec.ts
  integrations/hello-world-ng9-ivy/src/app/app.component.ts
  integrations/hello-world-ng9-ivy/src/app/app.module.ts
  integrations/hello-world-ng9-ivy/src/app/store/counter/counter.actions.ts
  integrations/hello-world-ng9-ivy/src/app/store/counter/counter.state.ts
  integrations/hello-world-ng9-ivy/src/app/store/index.ts
  integrations/hello-world-ng9-ivy/src/app/store/store.module.ts
  integrations/hello-world-ng9-ivy/src/assets/.gitkeep
  integrations/hello-world-ng9-ivy/src/environments/environment.prod.ts
  integrations/hello-world-ng9-ivy/src/environments/environment.ts
  integrations/hello-world-ng9-ivy/src/favicon.ico
  integrations/hello-world-ng9-ivy/src/index.html
  integrations/hello-world-ng9-ivy/src/main.ts
  integrations/hello-world-ng9-ivy/src/polyfills.ts
  integrations/hello-world-ng9-ivy/tsconfig.app.json
  integrations/hello-world-ng9-ivy/tsconfig.json
  integrations/hello-world-ng9-ivy/tsconfig.spec.json
Due: prettier --write, lint --fix

test: create ng9 no ivy integration tests
  integrations/hello-world-ng9-ivy-off/angular.json
  integrations/hello-world-ng9-ivy-off/cypress.json
  integrations/hello-world-ng9-ivy-off/cypress/fixtures/example.json
  integrations/hello-world-ng9-ivy-off/cypress/integration/index-page.spec.ts
  integrations/hello-world-ng9-ivy-off/cypress/plugins/cypress-webpack.config.js
  integrations/hello-world-ng9-ivy-off/cypress/plugins/index.js
  integrations/hello-world-ng9-ivy-off/cypress/support/base.po.ts
  integrations/hello-world-ng9-ivy-off/cypress/support/index.po.ts
  integrations/hello-world-ng9-ivy-off/cypress/tsconfig.json
  integrations/hello-world-ng9-ivy-off/jest.config.js
  integrations/hello-world-ng9-ivy-off/package.json
  integrations/hello-world-ng9-ivy-off/src/app/app.component.html
  integrations/hello-world-ng9-ivy-off/src/app/app.component.spec.ts
  integrations/hello-world-ng9-ivy-off/src/app/app.component.ts
  integrations/hello-world-ng9-ivy-off/src/app/app.module.ts
  integrations/hello-world-ng9-ivy-off/src/app/store/counter/counter.actions.ts
  integrations/hello-world-ng9-ivy-off/src/app/store/counter/counter.state.ts
  integrations/hello-world-ng9-ivy-off/src/app/store/index.ts
  integrations/hello-world-ng9-ivy-off/src/app/store/store.module.ts
  integrations/hello-world-ng9-ivy-off/src/assets/.gitkeep
  integrations/hello-world-ng9-ivy-off/src/environments/environment.prod.ts
  integrations/hello-world-ng9-ivy-off/src/environments/environment.ts
  integrations/hello-world-ng9-ivy-off/src/favicon.ico
  integrations/hello-world-ng9-ivy-off/src/index.html
  integrations/hello-world-ng9-ivy-off/src/main.ts
  integrations/hello-world-ng9-ivy-off/src/polyfills.ts
  integrations/hello-world-ng9-ivy-off/tsconfig.app.json
  integrations/hello-world-ng9-ivy-off/tsconfig.json
  integrations/hello-world-ng9-ivy-off/tsconfig.spec.json
  yarn.lock
Due: prettier --write, lint --fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{js,html,css,scss,md,json,yml})
  lint --fix: any of: *.ts
