Repository ngxs/store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, lint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "lint --fix", "git add"],
  "*.{js,html,css,scss,md,json,yml}": ["prettier --write", "git add"]
}

small fix
  .travis.yml
Due: prettier --write

build(router-plugin): provide UMD name of the external module (#1475)
  packages/router-plugin/package.json
Due: prettier --write

fix: remove async behavior
  packages/store/src/ivy/ensure-state-class-is-injectable.ts
  packages/store/src/ivy/ivy-enabled-in-dev-mode.ts
  packages/store/src/modules/ngxs-root.module.ts
Due: prettier --write, lint --fix

Update .travis.yml
  .travis.yml
Due: prettier --write

small fix
  integrations/ivy/src/app/store-ivy.module.ts
Due: prettier --write, lint --fix

small fix
  integrations/ivy/package.json
  integrations/ivy/yarn.lock
Due: prettier --write

small fix
  .yarnrc
Due: none

ci: workaround build failed for Travis CI (#1481)
  .travis.yml
  .yarnrc
  integrations/ivy/package.json
  integrations/ivy/src/app/store-ivy.module.ts
  integrations/ivy/yarn.lock
Due: prettier --write, lint --fix

ci: yarn cache
  .travis.yml
Due: prettier --write

use cache yarn
  .travis.yml
Due: prettier --write

small fix
  .travis.yml
  .yarnrc
Due: prettier --write

test: add Ivy test
  integrations/ivy/jest.config.js
  integrations/ivy/package.json
  integrations/ivy/src/app/app.component.spec.ts
  integrations/ivy/src/app/store-ivy.module.ts
  integrations/ivy/yarn.lock
  yarn.lock
Due: prettier --write, lint --fix

fix: linter
  packages/store/src/ivy/ivy-enabled-in-dev-mode.ts
Due: prettier --write, lint --fix

ci: disable cache for Travis CI (#1484)
  .travis.yml
  .yarnrc
Due: prettier --write

ci: upgrade node.js
  .circleci/config.yml
  .travis.yml
  package.json
Due: prettier --write

small fix
  yarn.lock
Due: none

fix: move cpx to root
  integrations/ivy/package.json
  integrations/ivy/yarn.lock
Due: prettier --write

fix: move cpx to root
  integrations/hello-world-ng6/package.json
  package.json
  yarn.lock
Due: prettier --write

fix: resolve invalid path for NGCC compiled package
  integrations/ivy/package.json
  integrations/ivy/yarn.lock
Due: prettier --write

fix: restore `yarn.lock` removed by mistake
  integrations/ivy/yarn.lock
Due: none

feat(store): warn about undecorated state class if Ivy is enabled in dev (both JIT/AOT) (#1474)
  .lintstagedrc.json
  bundlesize.config.json
  integrations/hello-world-ng6/package.json
  integrations/ivy/jest.config.js
  integrations/ivy/package.json
  integrations/ivy/src/app/app.component.spec.ts
  integrations/ivy/yarn.lock
  package.json
  packages/store/src/ivy/ensure-state-class-is-injectable.ts
  packages/store/src/ivy/ivy-enabled-in-dev-mode.ts
  packages/store/src/ivy/ivy-enabled-in-jit-mode.ts
  packages/store/src/modules/ngxs-root.module.ts
  yarn.lock
Due: prettier --write, lint --fix

chore: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

chore(deps): update dependency typescript to ~3.7.3
  package.json
  yarn.lock
Due: prettier --write

chore: prepare 3.6 release article
  publication/2019-10-21_announcing_ngxs_3_6/article.md
Due: prettier --write

refactor: correct usage host tokens
  .yarnrc
  packages/store/src/host-environment/host-environment.ts
  packages/store/src/module.ts
  packages/store/tests/config-validator.spec.ts
Due: prettier --write, lint --fix

refactor: correct usage host tokens (#1489)
  .yarnrc
  packages/store/src/host-environment/host-environment.ts
  packages/store/src/module.ts
  packages/store/tests/config-validator.spec.ts
Due: prettier --write, lint --fix

chore: updatec CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

feat(store): support passing type to store reset method
  packages/store/src/store.ts
  packages/store/types/tests/dispatch.lint.ts
  packages/store/types/tests/store.lint.ts
Due: prettier --write, lint --fix

small fix
  packages/store/types/tests/store.lint.ts
Due: prettier --write, lint --fix

build: add E2E tests for the Ivy integration
  .gitignore
  integrations/ivy/angular.json
  integrations/ivy/cypress.json
  integrations/ivy/cypress/fixtures/example.json
  integrations/ivy/cypress/integration/index-page.spec.ts
  integrations/ivy/cypress/plugins/cypress-webpack.config.js
  integrations/ivy/cypress/plugins/index.js
  integrations/ivy/cypress/support/base.po.ts
  integrations/ivy/cypress/support/index.po.ts
  integrations/ivy/cypress/tsconfig.json
  integrations/ivy/package.json
  integrations/ivy/src/app/app.component.html
  integrations/ivy/src/app/app.component.ts
  integrations/ivy/src/app/app.module.ts
  integrations/ivy/src/app/app.state.ts
  integrations/ivy/src/app/store/counter/counter.actions.ts
  integrations/ivy/src/app/store/counter/counter.state.ts
  integrations/ivy/src/app/store/index.ts
  integrations/ivy/src/app/store/store.module.ts
  integrations/ivy/src/main.ts
  integrations/ivy/tsconfig.json
  integrations/ivy/yarn.lock
  package.json
  yarn.lock
Due: prettier --write, lint --fix
