Repository ngxs/store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, lint --fix

chore: fix typo
  CHANGELOG.md
Due: prettier --write

!fixup
  yarn.lock
Due: none

feat(form-plugin): add reset form action
  bundlesize.config.json
  packages/form-plugin/src/actions.ts
  packages/form-plugin/src/directive.ts
  packages/form-plugin/src/form.plugin.ts
  packages/form-plugin/tests/form.plugin.spec.ts
Due: prettier --write, lint --fix

docs(form-plugin): add reset form action information
  docs/plugins/form.md
Due: prettier --write

fix(router-plugin): update state after route successfully activates
  packages/router-plugin/src/router.state.ts
  packages/router-plugin/tests/router-navigation.spec.ts
Due: prettier --write, lint --fix

fix(hmr-plugin): show error when use Angular Ivy with JIT mode
  packages/hmr-plugin/src/internal/hmr-options-builder.ts
  packages/store/internals/src/aot-jit-mode.ts
  packages/store/internals/src/index.ts
  packages/store/tests/aot-jit-mode.spec.ts
Due: prettier --write, lint --fix

Update hmr.md
  docs/plugins/hmr.md
Due: prettier --write

chore(deps): update all dependencies
  package.json
  packages/devtools-plugin/package.json
  packages/form-plugin/package.json
  packages/logger-plugin/package.json
  packages/router-plugin/package.json
  packages/storage-plugin/package.json
  packages/store/package.json
  packages/websocket-plugin/package.json
  yarn.lock
Due: prettier --write

Update hmr.md (#1608)
  docs/plugins/hmr.md
Due: prettier --write

fix(router-plugin): update state after route successfully activates (#1606)
  packages/router-plugin/src/router.state.ts
  packages/router-plugin/tests/router-navigation.spec.ts
Due: prettier --write, lint --fix

chore: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

docs(projects): add a new community project
  docs/community/projects.md
Due: prettier --write

fix(hmr-plugin): local handling ivy mode + detect jit
  packages/hmr-plugin/src/hmr-manager.ts
  packages/hmr-plugin/src/internal/hmr-options-builder.ts
  packages/hmr-plugin/src/symbols.ts
  packages/hmr-plugin/src/tests/hmr-manager.spec.ts
  packages/store/internals/src/aot-jit-mode.ts
  packages/store/internals/src/index.ts
  packages/store/tests/aot-jit-mode.spec.ts
Due: prettier --write, lint --fix

docs(projects): add a new community project (#1611)
  docs/community/projects.md
Due: prettier --write

fix: bundlesize.config.json
  bundlesize.config.json
  integration/app/counter/counter.state.ts
  packages/hmr-plugin/src/hmr-manager.ts
  packages/hmr-plugin/src/internal/hmr-lifecycle.ts
  packages/hmr-plugin/src/internal/hmr-options-builder.ts
  packages/hmr-plugin/src/internal/is-ivy.ts
Due: prettier --write, lint --fix

revert
  integration/app/counter/counter.state.ts
Due: prettier --write, lint --fix

fix: use __annotation__ for detect JIT, remove Ivy() fn
  packages/hmr-plugin/src/internal/hmr-lifecycle.ts
  packages/hmr-plugin/src/internal/hmr-options-builder.ts
  packages/hmr-plugin/src/internal/is-ivy.ts
  packages/hmr-plugin/src/tests/hmr-manager.spec.ts
Due: prettier --write, lint --fix

fix typo
  packages/hmr-plugin/src/internal/hmr-lifecycle.ts
  packages/hmr-plugin/src/tests/hmr-manager.spec.ts
Due: prettier --write, lint --fix

fix: correct detect ivy mode
  bundlesize.config.json
  packages/hmr-plugin/src/internal/hmr-lifecycle.ts
  packages/hmr-plugin/src/internal/hmr-options-builder.ts
  packages/hmr-plugin/src/symbols.ts
  packages/hmr-plugin/src/tests/hmr-manager.spec.ts
Due: prettier --write, lint --fix

revert bundlesize.config.json
  bundlesize.config.json
Due: prettier --write

chore(deps): update dependency typescript to ~3.9.5
  package.json
  yarn.lock
Due: prettier --write

fix(hmr-plugin): show error when use Angular Ivy with JIT mode (#1607)
  packages/hmr-plugin/src/internal/hmr-lifecycle.ts
  packages/hmr-plugin/src/tests/hmr-manager.spec.ts
Due: prettier --write, lint --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

doc: better documentation for the reset function
  docs/recipes/unit-testing.md
Due: prettier --write

docs(unit-testing): extend documentation with snapshot
  docs/recipes/unit-testing.md
Due: prettier --write

docs(testing): better hint of store.reset usage
  docs/recipes/unit-testing.md
Due: prettier --write

doc: better documentation for the reset function (#1614)
  docs/recipes/unit-testing.md
Due: prettier --write

fix: do not cancel actions if action handler completes without emitting
  packages/store/src/internal/state-factory.ts
  packages/store/tests/issues/issue-1568-return-empty.spec.ts
Due: prettier --write, lint --fix

fix: do not cancel actions if action handler completes without emitting (#1615)
  CHANGELOG.md
  packages/store/src/internal/state-factory.ts
  packages/store/tests/issues/issue-1568-return-empty.spec.ts
Due: prettier --write, lint --fix

fix: ofAction* methods should prevent passing anything except of `ActionType`
  packages/store/src/operators/of-action.ts
  packages/store/types/tests/issues/issue-1561.lint.ts
Due: prettier --write, lint --fix

fix(logger-plugin): filter out only `undefined` payloads
  packages/logger-plugin/src/action-logger.ts
  packages/logger-plugin/tests/helpers/index.ts
  packages/logger-plugin/tests/helpers/setup.ts
  packages/logger-plugin/tests/issues/issue-1551.spec.ts
  packages/logger-plugin/tests/logger.plugin.spec.ts
Due: prettier --write, lint --fix

chore: prettier format
  .prettierignore
  docs/plugins/form.md
  docs/recipes/component-events-from-ngxs.md
  packages/form-plugin/src/directive.ts
  packages/store/operators/src/utils.ts
  packages/store/operators/tests/compose.spec.ts
  packages/store/operators/tests/iif.spec.ts
  packages/store/src/decorators/selector/symbols.ts
  packages/store/src/operators/of-action.ts
Due: prettier --write, lint --fix

docs(optimizing-selectors): create doc
  docs/SUMMARY.md
  docs/advanced/optimizing-selectors.md
Due: prettier --write

fix: ofAction* methods should prevent passing anything except of `ActionType` (#1616)
  CHANGELOG.md
  packages/store/src/operators/of-action.ts
  packages/store/types/tests/issues/issue-1561.lint.ts
Due: prettier --write, lint --fix

test: change setup to setupWithLogger
  packages/logger-plugin/tests/helpers/index.ts
  packages/logger-plugin/tests/helpers/setup-with-logger.ts
  packages/logger-plugin/tests/issues/issue-1551.spec.ts
  packages/logger-plugin/tests/logger.plugin.spec.ts
Due: prettier --write, lint --fix

fix(logger-plugin): filter out only `undefined` payloads (#1617)
  CHANGELOG.md
  packages/logger-plugin/src/action-logger.ts
  packages/logger-plugin/tests/helpers/index.ts
  packages/logger-plugin/tests/helpers/setup-with-logger.ts
  packages/logger-plugin/tests/issues/issue-1551.spec.ts
  packages/logger-plugin/tests/logger.plugin.spec.ts
Due: prettier --write, lint --fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{js,html,css,scss,md,json,yml})
  lint --fix: any of: *.ts
